@charset "UTF-8";

#bookList, #pagination {
	width: 100%;
	margin: 0 auto;
}

.disposed .data {
	text-decoration-line: line-through;
}

@media (max-width: 992px) {
    .hide-on-md {
        /**
    visibility: hidden;
    **/
    display: none;
    }
}

@media (max-width: 768px) {
    .hide-on-sm {
        /**
    visibility: hidden;
    **/
    display: none;
    }
}
