<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>蔵書一覧</title>
<!-- 個別CSS読込 -->
<link rel="stylesheet" th:href="@{/css/book/list.css}">

<!--
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.8/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.8/datatables.min.js"></script>

<script>

	jQuery(function($) {
		 $.extend( $.fn.dataTable.defaults, { 
			language: {
        		url: 'https://cdn.datatables.net/plug-ins/2.1.8/i18n/ja.json',
     		} 
     		,"order": []
    	}); 
    	$('#bookList').DataTable();
	} );
</script>
-->
<script>
  function updatePaginationSize() {
    const pagination = document.getElementById('myPagination');
    if (window.innerWidth < 576) {
      pagination.classList.add('pagination-sm');
    } else {
      pagination.classList.remove('pagination-sm');
    }
  }

  window.addEventListener('resize', updatePaginationSize);
  window.addEventListener('DOMContentLoaded', updatePaginationSize);
</script>
</head>
<body>
	<div layout:fragment="content">
		
		<div class="header border-bottom mx-1">
			<div class="d-flex justify-content-md-between row mx-1">
				<div class="d-inline-flex col-md-auto ms-1">
					<h1 class="h3">蔵書一覧</h1>
					<a class="btn btn-primary mx-3 mb-1" th:href="@{/book/add}">書籍新規登録</a>
				</div>
				<div class="d-inline-flex col-md-auto row justify-content-sm-start ms-1">
					<div class="form-check form-switch m-1 col-sm-auto">
						 <input class="form-check-input" type="checkbox" role="switch" id="showDisposedBooks"
						 data-bs-toggle="collapse" th:href="@{#disposedBook}" aria-expanded="false">
						 <label class="form-check-label" for="showDisposedBooks">処分済み書籍を表示</label>
					</div>
					<form method="get" th:action="@{/book/list}" class="row col-sm-auto">
						<div class="form-group col">
							<input type="text" class="form-control" name="search" th:value="${search}">
						</div>
						<div class="col">
							<button type="submit" class="btn btn-primary mx-3">検索</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<table id="bookList" class="table table-bordered table-striped table-hover px-1">
			<thead class="table-light">
				<tr>
					<th scope="col" class="d-none d-sm-table-cell" style="max-width: 170px;">タイトル</th>
					<th scope="col" class="d-none d-sm-table-cell" style="max-width: 170px;">著者</th>
					<th scope="col" class="d-none"></th>
					<th scope="col" class="d-none d-lg-table-cell">シリーズ</th>
					<th scope="col" class="d-none d-lg-table-cell">出版社</th>
					<th scope="col" class="d-none d-md-table-cell">購入日</th>
					<th scope="col" class="d-none d-md-table-cell">読了日</th>
					<th scope="col" class="d-none d-sm-table-cell">操作</th>
					<th scope="col" class="d-none"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${bookList}" th:classappend="${item.isDisposed == 1}? 'collapse disposed'"
					th:id="${item.isDisposed == 1}? 'disposedBook'">
					
					<!-- 書籍タイトル・著者名（画面サイズsm以上） -->
					<td class="data d-none d-sm-table-cell text-truncate" style="max-width: 170px;" th:text="${item.bookTitle}"></td>
					<td class="data d-none d-sm-table-cell text-truncate" style="max-width: 170px;" >
						<a th:text="${item.author}" th:href="@{'/book/list?search=' + ${item.author}}"></a>
					</td>
					
					<!-- 書籍タイトル・著者名（画面サイズsm未満で同一セル内に表示） -->
					<td class="data d-sm-none" style="max-width: 170px;">
						<span class="fw-bold text-truncate d-block" th:text="${item.bookTitle}"></span>
						<span class="text-truncate d-block" th:text="${item.author}"></span>
					</td>
					
					<!-- シリーズ名・出版社名（画面サイズlg以上のみで表示） -->	
					<td class="data d-none d-lg-table-cell text-truncate" 
						th:text="${item.seriesId != null} ? ${item.series.seriesName} : ''"></td>
					<td class="data d-none d-lg-table-cell" th:text="${item.publisher.publisherName}"></td>
					
					<!-- 購入日・読了日（画面サイズlg以上） -->
					<td class="data d-none d-lg-table-cell" th:text="${#dates.format(item.purchasedDate,'YYYY/MM/dd')}"></td>
					<td class="data d-none d-lg-table-cell" 
					th:text="${item.finishedDate == null}? '未' : ${#dates.format(item.finishedDate,'YYYY/MM/dd')}"></td>
					
					<!-- 購入日・読了日（画面サイズmd以上、lg未満） -->
					<td class="d-none d-md-table-cell d-lg-none" th:with="passedYear=${T(java.time.Period).between(						    
						    item.purchasedDate.toInstant().atZone(T(java.time.ZoneId).systemDefault()).toLocalDate(),
						    T(java.time.LocalDate).now(),
						).getYears()}"
						th:text="${passedYear > 0}? |${passedYear}年前| : ${#dates.format(item.purchasedDate,'MM/dd')}">					
					</td>
					<th:block th:if="${item.finishedDate == null}">
						<td class="d-none d-md-table-cell d-lg-none" th:text="未"></td>
					</th:block>
					<th:block th:if="${item.finishedDate != null}">
						<td class="d-none d-md-table-cell d-lg-none" th:with="passedYear=${T(java.time.Period).between(						    
						    item.finishedDate.toInstant().atZone(T(java.time.ZoneId).systemDefault()).toLocalDate(),
						    T(java.time.LocalDate).now(),
						).getYears()}"
						th:text="${passedYear > 0}? |${passedYear}年前| : ${#dates.format(item.purchasedDate,'MM/dd')}">					
						</td>
					</th:block>
					
					<!-- 操作ボタン -->
					<td class="text-center align-middle">
						<div class="d-flex justify-content-center align-items-center gap-1">
							<th:block th:if="${item.finishedDate == null}">
								<a class="btn btn-sm btn-primary" th:href="@{'/book/finish/' + ${item.id}}">読了する</a>
							</th:block>
							<th:block th:if="${item.finishedDate != null}">
								<a class="btn btn-sm btn-secondary" th:href="@{'/book/finish/' + ${item.id}}">未読にする</a>
							</th:block>
							<a class="btn btn-sm btn-info" th:href="@{'/book/detail/' + ${item.id}}">詳細</a>
						</div>
					</td>					
				</tr>
			</tbody>
		</table>
		
	  <!-- ページネーション -->
	  <th:block th:fragment="pagination">
		<!-- <p th:text="${bookList.sort}"></p> -->
	    <div id="pagination" class="row justify-content-between mt-2">	 	  
		  <p class="col-md"
		  th:text="${bookList.totalElements} + '冊中' 
			+ ' ' + (${bookList.number} * ${bookList.size} + 1)
			+ ' - ' + (${bookList.number} * ${bookList.size} + ${bookList.numberOfElements})"></p>			
	      <nav class="col-md"
	      th:if="${bookList.totalPages gt 1} and ${bookList.number ge 0} and ${bookList.number lt bookList.totalPages}">
	        <ul class="pagination justify-content-end" id="myPagination">
				
	          <!-- 前へ -->
	          <li th:if="${bookList.hasPrevious()}" class="page-item">
				 <a class="page-link"
	              th:href="${#strings.isEmpty(search)} ?
	              		   @{/book/list(page=${bookList.number})} : 
	              		   @{/book/list(search=${search}, page=${bookList.number})}">
	              前へ
	            </a>
	          </li>
	
	          <!-- ページ番号 -->
	          <th:block th:with="min=${T(java.lang.Math).max(0, bookList.number - 2)},
	          max=${T(java.lang.Math).min(bookList.totalPages - 1, bookList.number + 2)}">
	          
				  <!-- 最初のページ番号を表示（下記5ページ分に含まれない場合） -->
	              <th:block th:if="${min gt 0}">
					<li  class="page-item">
						<a class="page-link"
		                th:href="${#strings.isEmpty(search)} ? 
		                		 @{/book/list(page=1)} :
		                		 @{/book/list(search=${search}, page=1)}"		                
		                th:text="1">
		                </a>
		            </li> 
				  </th:block>
				  
				  <!-- ページ番号の省略を表すボタン（クリック不可） -->
	              <th:block th:if="${min gt 1}">
					<li class="page-item disabled">
		              <a class="page-link"
		                th:text="...">
		              </a>
		            </li> 
				  </th:block>
				  
				  <!-- 表示中のページと前後2ページ（最大5ページ）の番号を表示 -->
		          <th:block	
		            th:each="i: ${#numbers.sequence(min, max)}"
		            th:switch="${bookList.number}">
		            <li th:case="${i}" class="page-item active">
		              <a class="page-link"
		                th:text="${i + 1}">
		              </a>
		            </li>
		            <li th:case="*" class="page-item">
		              <a class="page-link"
		                th:href="${#strings.isEmpty(search)} ?
		                		 @{/book/list(page=${i + 1})} :
		                		 @{/book/list(search=${search}, page=${i + 1})}"		                
		                th:text="${i + 1}">
		              </a>
		            </li>
		          </th:block>
		          
		          <!-- ページ番号の省略を表すボタン（クリック不可） -->
	              <th:block th:if="${max lt bookList.totalPages - 2}">
					<li class="page-item disabled">
		              <a class="page-link"
		                th:text="...">
		              </a>
		            </li> 
				  </th:block>
				  
				  <!-- 最後のページ番号を表示（上記5ページ分に含まれない場合） -->
	              <th:block th:if="${max lt bookList.totalPages - 1}">
					<li  class="page-item">
		              <a class="page-link"
		                th:href="${#strings.isEmpty(search)} ?
		                		 @{/book/list(page=${bookList.totalPages})} :
		                		 @{/book/list(search=${search}, page=${bookList.totalPages})}"
		                th:text="${bookList.totalPages}">
		              </a>
		            </li> 
				  </th:block> 
		      </th:block>
	
	          <!-- 次へ -->
	          <li th:if="${bookList.hasNext()}" class="page-item">
	            <a class="page-link"
	              th:href="${#strings.isEmpty(search)} ?
	              		   @{/book/list(page=${bookList.number + 2})} :
	              		   @{/book/list(search=${search}, page=${bookList.number + 2})}">
	              次へ
	            </a>
	          </li>
	        </ul>
	      </nav>
	    </div>
	  </th:block>		
	
	</div>

</body>
</html>